.background {
    background-size: cover;
    color: #fff;
    padding-top: 100px;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
}

.btn-primary {
    background-color: #2761b0;
    border: #2761b0 1px solid;
    border-radius: 25px;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase;
}

.btn-primary a,
.btn-delete a {
    color: #fff;
    text-decoration: none;
}

.btn-delete {
    background-color: #b02727;
    border: #b02727 1px solid;
    border-radius: 25px;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase;
}

.error {
    color: red;
    font-weight: 500;
    margin-right: 20px;
    text-shadow: -1px 1px 1px #333;
}