.background {
    background-image: url('../images/ListBackground.jpg');
    background-position: top center;
}

.form.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
}

label {
    display: block;
}

.featuredLabel {
    display: inline-block;
    margin-left: 5px;
}

input {
    height: 32px;
    width: 100%;
}

.featuredInput {
    height: auto;
    width: auto;
}

textarea {
    height: 175px;
    width: 100%;
}

.featured {
    align-items: center;
    display: flex;
}

.lastRow {
    align-items: center;
    display: flex;
    justify-content: space-between;
}