.background {
    background-image: url('../images/HomeBackground.png');
    background-position: bottom center;
}

.form.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
}

label {
    display: block;
}

input {
    height: 32px;
    width: 100%;
}