.background {
    background-image: url('../images/HomeBackground.png');
    background-position: bottom center;
    min-height: 85vh;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #fff;
    width: 100%;
}

.detailsImage:hover {
    transition: transform 2s ease-in-out;
    transform: translateX(100px) scale(2);
}

.details {
    display: flex;
    justify-content: space-between;
}
.detailsLeft {
    min-width: 35%;
    padding-right: 50px;
    white-space: pre-line;
}

.detailsRight {
    white-space: pre-line;
    width: 65%;
}

.detailsImage {
    max-width: 185px;
}

@media only screen and (max-width: 768px){
    .background {
        background-image: url('../images/ListBackground.jpg');
    }
    h1 {
        margin-bottom: 0;
    }
    .details {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .detailsLeft {
        width: 100%;
    }
    .detailsRight {
        margin-left: 0;
        width: 100%;
    }
    .twoColumns {
        columns: 2;
        max-width: 400px;
    }
}
@media only screen and (max-width: 400px){
    .twoColumns {
        columns: 1;
    }
}