.background {
    background-image: url('../images/HomeBackground.png');
    background-position: bottom center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.marketing h2 {
    margin-bottom: 0;
}

.marketing p {
    margin-top: 0;
}

.feature .container {
    display: block;
}

.titles,
.body {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.featureLeft {
    min-width: 35%;
    padding-right: 25px;
    white-space: pre-line;
}

.featureRight {
    white-space: pre-line;
    width: 65%;
}

.right img {
    max-width: 100%;
}

h2,
h2 a {
    color: #9425ac;
}

.feature {
    background-image: url('../images/GreyBackground.png');
    background-position: top center;
    background-size: 100% 100%;
}

.feature h2 a {
    text-decoration: none;
}

.feature h2,
.feature h3 {
    color: #232323;
}

.featureImage {
    max-width: 185px;
}

.featureImage:hover {
    transition: transform 2s ease-in-out;
    transform: translateX(100px) scale(2);
}

.cooking {
    align-items: center;
    background-image: url('../images/AmorphousShape.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    justify-content: space-between;
    min-height: 350px;
}

.cooking .container {
    width: 100%;
}

.cooking h2,
.cooking h3 {
    color: #fff;
    margin-block-end: 0;
    margin-block-start: 0;
}

.cooking .left {
    width: 70%;
}

.cooking .right {
    width: 30%;
}

.cooking .right button {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
    .featureRight {
        margin-left: 20px;
    }

    .cooking {
        background-position: top left;
        background-size: 100%;
    }
}

@media only screen and (max-width: 425px){
    .feature .titles,
    .feature .body {
        flex-wrap: wrap;
        padding: 20px;
    }
    .featureLeft {
        width: 100%;
    }
    .featureRight {
        margin-left: 0;
        width: 100%;
    }
    
    .cooking {
        background-position: center;
        background-size: 100%;
    }
}