.background {
    background-image: url('../images/ListBackground.jpg');
    background-position: bottom center;
    min-height: 100vh;
}

.listings {
    padding-inline-start: 0;
}

.listings li {
    align-items: center;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.listings li a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.listings button {
    max-height: 32px;
}

.listings button a {
    font-size: 13.333px;
}

@media only screen and (max-width: 425px){
    .listings span {
        font-size: 12px;
    }
}